# Environment
.env
.env.*
.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE / Editor
.phpactor.json
.phpunit.result.cache
.phpunit.cache
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed

# Composer
/vendor
/auth.json

# Node
/node_modules

# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# Vercel
.vercel

# IDE helper
_ide_helper.php

# Laravel Homestead
Homestead.json
Homestead.yaml

# PHPUnit
.phpunit.result.cache

# Temporary copied files
*copy*.php
*copy*.yml

# Docker
# Keep these tracked:
# docker-compose.yml
# Dockerfile