.background-image {
    background-image: url("../images/bgSignin.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.signin-icon {
    background-image: url("../images/icon.webp");
}
